<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/main-page">Pilot Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main-page" routerLinkActive="active">
                        <fa-icon [icon]="house"></fa-icon> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/new-request" routerLinkActive="active">New Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/manage-request" routerLinkActive="active">Manage Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/archive-request" routerLinkActive="active">Archive Request</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<router-outlet />
