
<div class="container-fluid card-container d-flex justify-content-center align-items-center">
    <div class="row align-items-center vh-100">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card text-center mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Request New Pilot</h5>
                        <a href="/new-request"><fa-icon style="font-size:200px" [icon]="squarePlus"></fa-icon></a>
                        <p class="card-text">Here, SCCM SCOP can Request new Pilot.</p>
                        <div class="d-grid gap-2">
                            <a href="/new-request" class="btn btn-dark btn-sm">Click here to Request</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Manage Pilot Request</h5>
                        <a href="/manage-request"><fa-icon style="font-size:200px" [icon]="listCheck"></fa-icon></a>
                        <p class="card-text">Here, SCCM SCOP can Manage Pilot Requests.</p>
                        <div class="d-grid gap-2">
                            <a href="/manage-request" class="btn btn-dark btn-sm">Click here to Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
